/* import montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    /* use border-box mode for calculating element size (including padding and border) */
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.main-header {
    width: 100%;
    padding: 8px 16px;
    background: #2ddf5c;
}

/* use  > combinator  */
.main-header>div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #0e4f1f;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

.main-nav {
    display: inline-block;
    /* Subtract the empty space and the width of the div element 
    from the total width of the nav element to position the nav 
    element on the same line */
    width: calc(100% - 74px);
    text-align: right;
    vertical-align: middle;

}

.main__itmes {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main__item {
    display: inline-block;
}