* {
    /* use border-box mode for calculating element size (including padding and border) */
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main-header {
    width: 100%;
    padding: 8px 16px;
    background: #2ddf5c;
}

/* use  > combinator  */
.main-header>div {
    display: inline-block;
}

.main-nav {
    display: inline-block;
    /* Subtract the empty space and the width of the div element 
    from the total width of the nav element to position the nav 
    element on the same line */
    width: calc(100% - 54px);
    text-align: right;
}

.main__itmes {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main__item {
    display: inline-block;
}