/* import montserrat fontface */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    /* use border-box mode for calculating element size (including padding and border) */
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.main-header {
    width: 100%;
    padding: 8px 16px;
    background: #2ddf5c;
}

/* use  > combinator  */
.main-header>div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #0e4f1f;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

.main-nav {
    display: inline-block;
    /* Subtract the empty space and the width of the div element 
    from the total width of the nav element to position the nav 
    element on the same line */
    width: calc(100% - 74px);
    text-align: right;
    vertical-align: middle;

}

.main__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main__item {
    display: inline-block;
    margin: 0 16px;
}

.main__item>a {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    padding: 3px 0;
}

.main__item>a:hover,
.main__item>a:active {
    color: white;
    border-bottom: 3px solid white;
}

.main__item--cta a {
    background-color: #ff1b68;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
}

.main__item--cta a:hover,
.main__item--cta a:active {
    border: none;
    background-color: white;
    color: #ff1b68;
}

.main-footer {
    background-color: black;
    padding: 32px;
    margin-top: 48px;
}

.main-footer__links {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px;
}

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}