/* import montserrat fontface */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    /* use border-box mode for calculating element size (including padding and border) */
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

main {
    /* 100vh - navbar and footer height (height += padding, border and margin) */
    min-height: calc(100vh - 3.5rem - 8rem);
    margin-top: 3.5rem;
}

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 0.2rem;
    background: #2ddf5c;
    z-index: 1;
}

/* use  > combinator  */
.main-header>div {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.toggle-button {
    width: 3rem;
    padding-top: 0;
    padding-bottom: 0;
    background: transparent;
    border: none;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
}

.toggle-button__bar {
    display: block;
    width: 80%;
    height: 0.2rem;
    margin: 0.3rem 0;
    background: black;

}

.main-header__brand {
    /* change behavior for the icon  */
    display: inline-block;
    width: calc(100% - 4rem);
    /* text in alt attribute */
    color: #0e4f1f;
    font-weight: bold;
    text-decoration: none;
    text-align: end;

}

.main-header__brand img {
    /* using dimentions of container inline-block */
    height: 100%;
    width: 2rem;
    vertical-align: middle;
}

.main-nav {
    display: none;
    /* Subtract the empty space and the width of the div element 
    from the total width of the nav element to position the nav 
    element on the same line of div */
    width: calc(100% - 44px);
    text-align: right;
    vertical-align: middle;

}

.main__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main__item {
    display: inline-block;
    margin: 0 1rem;
}

.main__item>a,
.mobile-nav__item a {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    padding: 0.18rem 0;
}

.main__item>a:hover,
.main__item>a:active {
    color: white;
    border-bottom: 3px solid white;
}

.main__item--cta a,
.mobile-nav__item--cta a {
    background-color: #ff1b68;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.main__item--cta a:hover,
.main__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
    border: none;
    background-color: white;
    color: #ff1b68;
}

.main-footer {
    background-color: black;
    padding: 2rem;
    margin-top: 3rem;
}

.main-footer__links {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.main-footer__link {
    margin-bottom: 1rem;
}

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}


/* mobile nav */

.mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background: white;
    z-index: 1003;

}

.mobile-nav__items {
    list-style: none;
    width: 90%;
    height: 100%;
    margin: 10% auto;
    padding: 0;
    text-align: center;
}

.mobile-nav__item {
    margin: 1rem 0;
}

.mobile-nav__item a {
    font-size: 1rem;
}

.open {
    display: block !important;
}


@media (min-width: 40rem) {

    /* main nav */

    .main-header {
        padding: 0.5rem 1rem;
    }

    .main-header>div {
        width: auto;
    }

    .main-header__brand {
        width: 30px;
        height: 30px;
        font-size: 1.3rem;

    }

    .main-header__brand img {
        width: 100%;
        height: 100%;
    }

    .main-nav {
        display: inline-block;
    }

    .toggle-button {
        display: none;
    }

    /* main footer */
    .main-footer__link {
        display: inline-block;
        margin: 0 1rem;
    }

}