/* import montserrat fontface */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    /* use border-box mode for calculating element size (including padding and border) */
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    background: #2ddf5c;
    z-index: 1;
}

/* use  > combinator  */
.main-header>div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    /* change behavior for the icon  */
    display: inline-block;
    width: 20px;
    height: 20px;
    /* text in alt attribute */
    color: #0e4f1f;
    font-weight: bold;
    font-size: 1.3rem;
    text-decoration: none;

}

.main-header__brand img {
    /* using dimentions of container inline-block */
    height: 100%;
    width: 100%;
}

.main-nav {
    display: inline-block;
    /* Subtract the empty space and the width of the div element 
    from the total width of the nav element to position the nav 
    element on the same line of div */
    width: calc(100% - 74px);
    text-align: right;
    vertical-align: middle;

}

.main__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main__item {
    display: inline-block;
    margin: 0 1rem;
}

.main__item>a {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    padding: 0.18rem 0;
}

.main__item>a:hover,
.main__item>a:active {
    color: white;
    border-bottom: 3px solid white;
}

.main__item--cta a {
    background-color: #ff1b68;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.main__item--cta a:hover,
.main__item--cta a:active {
    border: none;
    background-color: white;
    color: #ff1b68;
}

.main-footer {
    background-color: black;
    padding: 2rem;
    margin-top: 3rem;
}

.main-footer__links {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.main-footer__link {
    display: inline-block;
    margin: 0 1rem;
}

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}