main {
    /* padding-top: 32px; */
    padding-top: 2rem;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: url('../images/p-background.jpg') no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;

}


.pakage {
    position: relative;
    width: 80%;
    margin: 1rem 0;
    border: 4px solid #0e4f1f;
    border-left: none;
}

.pakage:hover,
.pakage:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* ignoring specificity of #free border-left color
      border-color: #ff5454 !important;
      */
    border-color: #ff5454;
}

.pakage a {
    display: block;
    padding: 2rem;
    text-decoration: none;
    color: inherit;
}

.pakage__subtitle {
    color: #979797;
}

.pakage__info {
    padding: 1rem;
    font-size: 1.2rem;
    color: #0e4f1f;
    border: 1px solid #858585;
    background-color: white;
}

.pakage__badge {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    margin: 1.2rem;
    background: #ff5454;
    font-size: 0.8rem;
    color: white;
}

.clearfix {
    clear: both;
}

#plus {
    margin-top: 2.5rem;
    background-color: rgba(213, 255, 220, 0.95);
}


#free {
    float: right;
    border-right: none;
    border-left: 4px solid #0e4f1f;
    background: rgba(234, 252, 237, 0.95);
}


#free:hover,
#free:active {
    border-left-color: #ff5454;
}

#premium {
    background: rgba(14, 79, 31, 0.95);
}

#premium .pakage__title {
    color: white;
}

#premium .pakage__subtitle {
    color: #bbb;
}