main {
    /* padding-top: 32px; */
    /* padding-top: 2rem; */
    padding-top: 2.5rem;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: url('../images/p-background.jpg') bottom 90% left 30%/cover no-repeat;
    width: 100vw;
    height: 100vh;

}

.pakage {
    position: relative;
    width: 80%;
    margin: 1rem 0;
    border: 4px solid #0e4f1f;
    border-left: none;
    overflow: hidden;
}

.pakage:hover {
    animation: hover-pakage 0.400s ease-out forwards;

}

.pakage#free:hover {
    animation: hover-pakage-free 0.400s ease-out forwards;
}

.pakage:hover,
.pakage:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* ignoring specificity of #free border-left color
      border-color: #ff5454 !important;
      */
    border-color: #ff5454;
}

.pakage a {
    display: block;
    padding: 2rem;
    text-decoration: none;
    color: inherit;
}

.pakage__subtitle {
    color: #979797;
}

.pakage__info {
    padding: 1rem;
    font-size: 1.2rem;
    color: #0e4f1f;
    border: 1px solid #858585;
    background-color: white;
}

.pakage__badge {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    /* margin: 1.2rem; */
    background: #ff5454;
    font-size: 0.8rem;
    color: white;
    transform: rotateZ(34deg) translateX(2.8rem) translateY(-1rem);
    /* center => default value */
    transform-origin: center;

    width: 12rem;
    text-align: center;
}

.clearfix {
    clear: both;
}

#plus {
    margin-top: 2.5rem;
    background-color: rgba(213, 255, 220, 0.95);
}


#free {
    float: right;
    border-right: none;
    border-left: 4px solid #0e4f1f;
    background: rgba(234, 252, 237, 0.95);
}


#free:hover,
#free:active {
    border-left-color: #ff5454;
}

#premium {
    background: rgba(14, 79, 31, 0.95);
}

#premium .pakage__title {
    color: white;
}

#premium .pakage__subtitle {
    color: #bbb;
}

@keyframes hover-pakage {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(2%);
    }
}

@keyframes hover-pakage-free {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-2%);
    }
}

@media (min-width: 40rem) {

    main {
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
    }

    .pakage {
        border-left: 4px solid #0e4f1f;
    }

    .pakage__badge {
        transform: rotateZ(45deg) translateX(3.5rem) translateY(-1rem);
    }

    #free {
        border-right: 4px solid #0e4f1f;
    }

    #free:hover,
    #free:active {
        border-left-color: #ff5454;
        border-right-color: #ff5454;
    }
}